@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;
}

body {
  @apply bg-bgd text-tx font-inter;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {

  .h3-text {
    @apply text-xl mb-2 font-medium 
  }

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}

.h1 {
  font-size: clamp(24px, 4vw, 35px);
}

.prose p {
  @apply text-justify
}

.profile-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  @apply bg-accent/80;
  z-index: -1;
  border-radius: 1.5rem 1.5rem 0 0;
}

.committee-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  @apply bg-accent/70;
  border-radius: 0.25rem 0 0 0.25rem;
  
}

.schedule-card-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  @apply bg-indigo-500;
  border-radius: 0.25rem 0.25rem 0 0;
}

.schedule-card-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  @apply bg-sky-500;
  border-radius: 0.25rem 0.25rem 0 0;
}


